NEXT_PUBLIC_CONTACT_MAIL="thibaultfalezan@gmail.com"
NEXT_PUBLIC_CONTACT_GITHUB="https://github.com/Thibault0712"
NEXT_PUBLIC_CONTACT_LINKEDIN="https://www.linkedin.com/in/thibaultfalezan"

WORDPRESS_URL=http://localhost
WORDPRESS_GRAPHQL_URL=
WORDPRESS_CATEGORY_PROJECTS_ID=3
WORDPRESS_CATEGORY_BLOG_ID=4
MAX_ARTICLES_PROJECTS=3
MAX_ARTICLES_BLOG=3
WORDPRESS_REVALIDATE_SECONDS=300